<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
	  <groups>
		  <run>
			 <!-- <exclude name="odd"></exclude> -->
			 <include name="odd"></include>
		  </run>
	  </groups>
	<classes>
           <class name="TestNGpack.GroupEx"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->